@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Mulish:wght@200;300&display=swap");

body {
  background-color: #fafafa;
  font-family: "Mulish", sans-serif;
}

/* .wrapper {
  width: 80%;
  margin: 5% auto;
} */
